@tailwind base;

@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

html {
  font-family: Lato, sans-serif;
}

html, body {
  @apply h-full;
}

h1 {
  @apply text-2xl pb-2;
}

a {
  @apply text-blue-700;
}

a:hover {
  @apply underline;
}

p {
  @apply py-2;
}

@tailwind components;

.navigation {
  @apply flex bg-red-400 p-4;
}

.navigation a {
  @apply text-white;
}

@tailwind utilities;